@model IEnumerable<TodoList5.Models.Todo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index hello </h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

     
            <td>
                 @*@Html.ActionLink("Edit", "Edit", new { id=item.Id  })*@ 
                <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-pen"></i> Edit Task</a>
                            </td>
                              <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-pen"></i>Task Details</a>
                            </td>
                              <td class="text-center">
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-pen"></i> Task Done</a>
                            </td>
              @*  @Html.ActionLink("Details", "Detail", new {  id=item.Id }) |*@
            @*    @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })*@
            </td>
        </tr>
}
    </tbody>
</table>
